<!-- ====== Hero Start ====== -->
<section class="ud-hero" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
                    <h1 class="ud-hero-title">
                        Learn Secure code review by examining production grade code
                    </h1>
                    <p class="ud-hero-desc">
                        Multidisciplinary Web Template Built with Your Favourite
                        Technology - HTML Bootstrap, Tailwind and React NextJS.
                    </p>
                    <ul class="ud-hero-buttons">
                        <li>
                            <a href="https://links.uideck.com/play-bootstrap-download" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-white-btn">
                                Create Free Account
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/uideck/play-bootstrap" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                                Solve some challenges <i class="lni lni-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
                    <img  src="./view/assets/images/hero/hero-image.png" alt="hero-image" />
                    <img
                            src="./view/assets/images/hero/dotted-shape.svg"
                            alt="shape"
                            class="shape shape-1"
                    />
                    <img
                            src="./view/assets/images/hero/dotted-shape.svg"
                            alt="shape"
                            class="shape shape-2"
                    />
                </div>


            </div>
        </div>
    </div>
</section>
<!-- ====== Hero End ====== -->
