<!-- ====== Team Start ====== -->
<section id="team" class="ud-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title mx-auto text-center">
                    <span>Our Team</span>
                    <h2>Meet The Team</h2>
                    <p>
                        crating a platform like this is not easy, it takes a lot of effort and time, here is the team that made it possible
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="./view/assets/images/team/team-01.jpg" alt="team" />
                        </div>

                        <img
                                src="./view/assets/images/team/dotted-shape.svg"
                                alt="shape"
                                class="shape shape-1"
                        />
                        <img
                                src="./view/assets/images/team/shape-2.svg"
                                alt="shape"
                                class="shape shape-2"
                        />
                    </div>
                    <div class="ud-team-info">
                        <h5>Yossif qassim</h5>
                        <h6>Backend Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="./view/assets/images/team/team-02.jpg" alt="team" />
                        </div>

                        <img
                                src="./view/assets/images/team/dotted-shape.svg"
                                alt="shape"
                                class="shape shape-1"
                        />
                        <img
                                src="./view/assets/images/team/shape-2.svg"
                                alt="shape"
                                class="shape shape-2"
                        />
                    </div>

                    <div class="ud-team-info">
                        <h5>Ahmed al-banna</h5>
                        <h6>Database Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".2s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="./view/assets/images/team/team-03.jpg" alt="team" />
                        </div>

                        <img
                                src="./view/assets/images/team/dotted-shape.svg"
                                alt="shape"
                                class="shape shape-1"
                        />
                        <img
                                src="./view/assets/images/team/shape-2.svg"
                                alt="shape"
                                class="shape shape-2"
                        />
                    </div>
                    <div class="ud-team-info">
                        <h5>Ahmed el-shiek</h5>
                        <h6>full stack Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".25s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="./view/assets/images/team/team-04.jpg" alt="team" />
                        </div>

                        <img
                                src="./view/assets/images/team/dotted-shape.svg"
                                alt="shape"
                                class="shape shape-1"
                        />
                        <img
                                src="./view/assets/images/team/shape-2.svg"
                                alt="shape"
                                class="shape shape-2"
                        />
                    </div>
                    <div class="ud-team-info">
                        <h5>ahmed haggag</h5>
                        <h6>Front end developer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Team End ====== -->